pandas
tqdm
argparse
pathlib
scikit-learn
numpy
torch
transformers==4.33.2
sentencepiece
nltk
datasets
openai
openprompt
pykeen
matplotlib
plotly
accelerate
python-dotenv
peft
evaluate
#https://huggingface.co/datasets/wikipedia
mwparserfromhell

# Make sure you have git-lfs installed (https://git-lfs.com OR "sudo apt-get install git-lfs")
#git lfs install
#Check cpu Architechture: x86_64/i686 -> AMD | armv7l, aarch64, arm64 -> ARM
#lscpu | grep Architecture